@use '../global' as global;

.l-news {
  margin: 80px auto;
  width: 1440px;
  max-width: 100%;

  @include global.mq(sp) {
    margin: 50px auto;
  }
}

.l-news__title {
  width: 1440px;
  max-width: 100%;
  height: auto;

  @include global.mq(sp) {
    margin-left: 0px;
  }
}

.l-news__page {
  margin: 142px auto 88px;
  max-width: calc(1240px + 20px + 20px); // calcの中に#{$inner-width}を設定し、gulpを使用するとエラーが出るので注意


  @include global.mq(sp) {
    margin: 82px auto 60px;
    padding: 0 40px;
  }
}
